html, body {
    height: 100%;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #222;
}

.login-page {
    position: absolute;
    transition: top 0.6s, opacity 2s;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    z-index: 1010;
}

.login-page.slide-out {
    top: -200%;
    opacity: 0;
}

.login-page {
    background: #4e5d6c linear-gradient(to bottom, #3B4751 0%,#4e5d6c 20%);
}

.login-page .jumbotron {
    background-color: transparent;
}

.login-page label,
.login-page p {
    color: rgba(255, 255, 255, 0.5);
}

.login-page h1 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

.login-page .control-label,
.login-page input {
    margin: 10px 0;
}

.login-page input {
    background-color: transparent;
    color: #fff;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

.loading > div {
    background-color: rgba(255, 255, 255, 1);
    color: #555;
    padding: 1em 2em;
    border-radius: 3em;
}

nav {
    margin: 0 -15px;
}

.page {
    height: 100%;
}

.main-bar {
    background-color: #fff;
    padding-bottom: 15px;
}

.side-bar {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
    body {
        background-color: #fff;
    }

    .side-bar {
        min-height: 100%;
        box-shadow: inset 4px 0px 4px 0px rgba(0, 0, 0, 0.5);
    }
}

.side-bar a {
    color: #0ce3ac;
}

.side-bar .header {
    margin: -10px 10px 30px 10px;
}

.side-bar .list-group-item {
    background-color: #303030;
    border-color: #464545;
}

.side-bar .panel {
    background-color: #303030;
}

.side-bar .panel-default {
    border-color: #464545;
}

.side-bar .panel-default > .panel-heading {
    background-color: #464545;
}

.side-bar .panel-default > .panel-heading {
    color: #ffffff;
    border-color: #464545;
}

.side-bar .badge {
    background-color: #464545;
}

.side-bar .progress {
    height: 10px;
}

.side-bar .progress-bar {
    background-color: #00bc8c;
}

.side-bar .glyphicon {
    margin-right: 5px;
}

.question ol {
    counter-reset: list;
}

.question .list-group-item {
    transition: background-color, 0.3s;
}

.answer {
    display: flex;
    align-items: center;
    list-style: none;
}

.answer > .letter:before {
    content: counter(list, upper-alpha);
    counter-increment: list;
    margin-right: 15px;
    display: inline-block;
    font-size: 2em;
}

.result-footer {
    line-height: 2em;
}

.result {
    font-size: 2em;
    margin-right: 10px;
    float: left;
}

.score {
    margin-left: 10px;
}