body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-page {
    position: absolute;
    transition: top 0.6s, opacity 2s;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    z-index: 1001;
}

.login-page.slide-out {
    top: -200%;
    opacity: 0;
}

.login-page {
    background: #4e5d6c linear-gradient(to bottom, #3B4751 0%,#4e5d6c 20%);
}

.login-page .jumbotron {
    background-color: transparent;
}

.login-page label,
.login-page p {
    color: rgba(255, 255, 255, 0.5);
}

.login-page h1 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

.login-page .control-label,
.login-page input {
    margin: 10px 0;
}

.joining {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -1.5em;
    width: 200px;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}

.question ol {
    counter-reset: list;
}

.question .list-group-item {
    transition: background-color, 0.3s;
}

.answer {
    display: flex;
    align-items: center;
    list-style: none;
}

.answer:before {
    content: counter(list, upper-alpha);
    counter-increment: list;
    margin-right: 20px;
    display: inline-block;
    font-size: 2em;
}

.navbar {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}