<!DOCTYPE html>
<html ng-app="quiz.io">
<head lang="en">
    <meta charset="UTF-8">
    <title>Quiz.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400" type="text/css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="app.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
</head>
<body ng-controller="QuizController as quiz">
<div class="login-page" ng-class="{ 'slide-out': quiz.joined }">
    <div class="jumbotron">
        <div class="container">
            <h1>Quiz.io</h1>
            <p>An interactive real-time quiz.</p>
            <form class="form-horizontal" role="form" ng-submit="quiz.join()">
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="name" class="control-label">Who are you?</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="quiz.name" ng-disabled="quiz.joining" class="form-control" id="name" placeholder="Anonymous mouse" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" ng-disabled="quiz.joining" class="btn btn-default" value="Join session" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="joining" ng-show="quiz.joining">Joining...</div>
<div class="page" ng-show="quiz.id">
    <div class="col-sm-9 main-bar">
        <header>
            <div>
                Score <span class="badge">{{quiz.score}}</span>
            </div>
        </header>
        <div class="content">
            <div class="question panel panel-default" ng-show="quiz.question">
                <div class="panel-heading">
                    <h3 class="panel-title pull-right">{{quiz.question.points}} points</h3>
                    <h3 class="panel-title">Question 1</h3>
                </div>
                <h3 class="panel-body" ng-bind-html="quiz.question.content"></h3>
                <ol class="list-group">
                    <a href class="list-group-item"
                       ng-repeat="answer in quiz.question.answers"
                       ng-class="{ active: quiz.isActive(answer), 'list-group-item-danger': quiz.isWrong(answer), 'list-group-item-success': quiz.isCorrect(answer) }" ng-click="quiz.selectAnswer(answer)">
                        <li class="answer">
                            <div ng-bind-html="answer.content"></div>
                        </li>
                    </a>
                </ol>
                <div class="panel-footer">
                    <button class="btn btn-primary" ng-click="quiz.revealAnswer = true" ng-disabled="!quiz.selectedAnswer">Confirm choice</button>
                </div>
            </div>
            <h3 class="text-center text-muted" ng-hide="quiz.question">Waiting for the session to start.</h3>
        </div>
    </div>
    <div class="col-sm-3 side-bar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Participants</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="participant in quiz.participants">
                    <span class="glyphicon glyphicon-user" ng-show="participant.id === quiz.id"></span>
                    <span class="badge">{{participant.score}}</span>
                    {{participant.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>