<!DOCTYPE html>
<html ng-app="quiz.io">
<head lang="en">
    <meta charset="UTF-8">
    <title>Quiz.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400" type="text/css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="app.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
</head>
<body ng-controller="QuizController as quiz">
<div class="loading" ng-show="quiz.loading"><div>Connecting...</div></div>
<div class="login-page" ng-class="{ 'slide-out': quiz.participant }">
    <div class="jumbotron">
        <div class="container">
            <h1>Quiz.io</h1>
            <p>An interactive real-time quiz.</p>
            <form class="form-horizontal" role="form" ng-submit="quiz.join()">
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="name" class="control-label">Who are you?</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" ng-model="quiz.name" class="form-control" id="name" placeholder="Anonymous mouse" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-default" value="Join session" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="page" ng-show="quiz.participant">
    <div class="col-sm-9 main-bar">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-text" ng-hide="quiz.isLeader()">
                    Score <span class="score badge">{{quiz.participant.score}}</span>
                </div>
                <div class="progress navbar-text pull-right">
                    <div class="progress-bar" ng-style="{ width: quiz.questionsPercentage() }"></div>
                </div>
                <div ng-show="quiz.isLeader()">
                    <p class="navbar-text navbar-left">You are the leader.</p>
                    <button ng-click="quiz.nextQuestion()"
                            ng-show="(!quiz.state.question || quiz.state.answerRevealed) && quiz.state.questionIndex < quiz.state.questionCount - 1"
                            class="btn btn-primary navbar-btn navbar-right">
                        Next question <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <button ng-click="quiz.revealAnswers()"
                            ng-show="quiz.state.question && !quiz.state.answerRevealed"
                            ng-class="{ 'btn-primary': quiz.hasAllParticipantsAnswered() }"
                            class="btn btn-default navbar-btn navbar-right">
                        Reveal answer <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </div>
            </div>
        </nav>
        <div class="question panel panel-default"
             ng-class="{ 'panel-success': !quiz.isLeader() && quiz.wasCorrectAnswer(), 'panel-danger': !quiz.isLeader() && quiz.wasWrongAnswer(), 'answer-revealed': quiz.state.answerRevealed, 'disable-select-answer': !quiz.canSelectAnswer() }"
             ng-show="quiz.state.question">
            <div class="panel-heading">
                <h3 class="panel-title pull-right">{{quiz.state.question.points}} points</h3>
                <h3 class="panel-title">Question {{quiz.state.questionIndex + 1}} of {{quiz.state.questionCount}}</h3>
            </div>
            <h3 class="panel-body" ng-bind-html="quiz.state.question.content"></h3>
            <ol class="list-group">
                <a href class="list-group-item"
                   ng-repeat="answer in quiz.state.question.answers"
                   ng-class="{ active: quiz.isAnswerActive($index), 'list-group-item-danger': !quiz.isLeader() && quiz.isAnswerWrong($index), 'list-group-item-success': !quiz.isLeader() && quiz.isAnswerCorrect($index) }"
                   ng-click="quiz.selectAnswer($index)">
                    <li class="answer">
                        <span class="letter"></span>
                        <div ng-bind-html="answer"></div>
                    </li>
                </a>
            </ol>
            <div class="panel-footer"
                 ng-show="!quiz.isLeader() && !quiz.state.answerRevealed && quiz.selectedAnswer === null">
                Select an answer.
            </div>
            <div class="panel-footer"
                 ng-show="!quiz.isLeader() && !quiz.state.answerRevealed && quiz.participant.selectedAnswer === null && quiz.selectedAnswer !== null">
                <button class="btn btn-primary" ng-click="quiz.confirmAnswer()">Submit</button>
            </div>
            <div class="panel-footer" ng-show="!quiz.isLeader() && !quiz.state.answerRevealed && quiz.participant.selectedAnswer">
                Your answer has been submitted. Wait for others to submit their answers.
            </div>
            <div class="panel-footer result-footer" ng-show="!quiz.isLeader() && quiz.wasWrongAnswer()">
                <span class="result glyphicon glyphicon-remove"></span>
                Bad luck. The correct answer was <span class="answer-letter" ng-class="'answer-letter-' + quiz.state.question.correctAnswer"></span>.
            </div>
            <div class="panel-footer result-footer" ng-show="!quiz.isLeader() && quiz.wasCorrectAnswer()">
                <span class="result glyphicon glyphicon-ok"></span>
                Good job! You earned {{quiz.state.question.points}} points.
            </div>
        </div>
        <h3 class="text-center text-muted" ng-hide="quiz.state.question || quiz.isLeader()">Waiting for the session to start.</h3>
        <h3 class="text-center text-muted" ng-hide="quiz.state.question || !quiz.isLeader()">Click <strong>next question</strong> to begin the session.</h3>
    </div>
    <div class="col-sm-3 side-bar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Participants</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="participant in quiz.getNormalParticipants()"
                        ng-class="{ 'participant-disconnected': !participant.connected }">
                    <span title="This is you" class="glyphicon glyphicon-user" ng-show="participant === quiz.participant"></span>
                    <span title="Participant is not connected" class="glyphicon glyphicon-exclamation-sign" ng-show="!participant.connected"></span>
                    <span title="Participant has answered" class="glyphicon glyphicon-ok" ng-show="!quiz.state.answerRevealed && participant.selectedAnswer != null"></span>
                    <span class="badge">{{participant.score}}</span>
                    {{participant.name}}
                </li>
                <li class="list-group-item" ng-show="quiz.getNormalParticipants().length === 0">
                    <span class="text-muted">No participants yet</span>
                </li>
            </ul>
        </div>
        <div ng-show="!quiz.state.answerRevealed">
            <p class="text-muted">{{quiz.answeredParticipants()}} of {{quiz.getNormalParticipants().length}} participants answered</p>
            <div class="progress">
                <div class="progress-bar" ng-style="{ width: quiz.answeredParticipantsPercentage() }"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>